<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>
<body>
<section>
    <form method="post" class="form" id="data-send">
        <label>Name:</label>
        <input type="text" placeholder="name"><br><br>
        <label>contact</label>
        <input type="text" placeholder="contact No."><br><br>
        <label>Address</label>
        <input type="text" placeholder="Address"><br><br>
        <button type="reset">Reset</button>
    </form>
</section>
</body>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
>