<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>
<body>
<section>
    <form action="/sendData" method="post" class="form" id="data-send">
        <label>Name:</label>
        <input type="text" placeholder="name" name="name"><br><br>
        <label>contact</label>
        <input type="text" placeholder="contact No." name="contact"><br><br>
        <label>Address</label>
        <input type="text" placeholder="Address" name="address"><br><br>
        <button type="reset">Reset</button><br><br>
        <button type="submit" value="submit">Submit</button>
    </form>
</section>
</body>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
